<% layout('./layout/index') -%>
<% block('title', lang.titles.industries) -%>

<div class="page">
	<div class="clear"></div>
	<div class="wrapper">
		<div class="content" style="padding:0">
			<div class="industries-list">
				<div class="industries-list__item" style="background: url('/img/I1.png') no-repeat">
					<h3><%= lang.services.legal.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I2.png') no-repeat">
					<h3><%= lang.services.website_game_software.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I3.png') no-repeat">
					<h3><%= lang.services.IT.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I4.png') no-repeat">
					<h3><%= lang.services.financial.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I5.png') no-repeat">
					<h3><%= lang.services.oil_gas.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I6.png') no-repeat">
					<h3><%= lang.services.energy.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I7.png') no-repeat">
					<h3><%= lang.services.marketing.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I8.png') no-repeat">
					<h3><%= lang.services.mechanical_engineering.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I9.png') no-repeat">
					<h3><%= lang.services.construction.title%></h3>
				</div>
				<div class="industries-list__item" style="background: url('/img/I10.png') no-repeat">
					<h3><%= lang.services.medical.title%></h3>
				</div>
			</div>
		</div>
	</div>
</div>