<% layout('../layout/index') -%>
<% block('title', lang.services.website_game_software.title) -%>

<div class="page">
	<div class="clear"></div>
	<div class="wrapper">
		<div class="content">
			<h2><%= lang.services.website_game_software.title %></h2>
			<p><%= lang.services.website_game_software.content.p1%></p>
			<p><%= lang.services.website_game_software.content.p2%></p>
			<h2><%= lang.services.website_game_software.content.subtitle1%></h2>
			<p><%= lang.services.website_game_software.content.p3%></p>
			<h2><%= lang.services.website_game_software.content.subtitle2%></h2>
			<p><%= lang.services.website_game_software.content.p4%></p>
			<p><%= lang.services.website_game_software.content.p5%></p>
			<h2><%= lang.services.website_game_software.content.subtitle3%></h2>
			<p><%= lang.services.website_game_software.content.p6%></p> <br/>
			<p><%= lang.services.website_game_software.content.p7%></p>
			<%-partial('../partials/form')%>
		</div>
		<%-partial('../partials/aside')%>
	</div>
</div>