<% layout('../layout/index') -%>
<% block('title', lang.services.medical.title) -%>

<div class="page">
	<div class="clear"></div>
	<div class="wrapper">
		<div class="content">
			<h2><%= lang.services.medical.title%></h2>
			<p><%= lang.services.medical.content.p1%></p>
			<p><%= lang.services.medical.content.p2%></p>
			<p><%= lang.services.medical.content.p3%></p>
			<ul>
				<% for(let i = 0; i < lang.services.medical.content.list.length; i++) { %>
					<li><%= lang.services.medical.content.list[i]%></li>
				<% } %>
			</ul>
			<p><%= lang.services.medical.content.p4%></p>
			<%-partial('../partials/form')%>
		</div>
		<%-partial('../partials/aside')%>
	</div>
</div>